Django==1.6.5
Fabric==1.8.3
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
MySQL-python==1.2.5
PIL==1.1.7
PyAMF==0.6.1
PyYAML==3.11
WebOb==1.4
Werkzeug==0.9.4
ecdsa==0.11
httplib2==0.9
itsdangerous==0.24
lxml==3.3.5
numpy==1.8.1
paramiko==1.12.4
psycopg2==2.5.3
pycrypto==2.6.1
six==1.7.3
twilio==3.6.6
webapp2==2.5.2
wsgiref==0.1.2