/* One Click Message Form CSS - Written by Lauren Orsini. Editing by Jim Gallaher as a Github contributor */

/* Form Color Styles */
#form {
	background-color:#eeeeee;
	border: .20em solid #888;
}

/* Form Sizing Styles */
#form {
	width: 60%;
	margin: 3em auto;
	padding: 1.75em;
}

/* Form Font Styling */
#form h2 {
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size: 1.25em;
}

/* Border and Shadow Styles */
#form {
	border-radius: 15px;
	box-shadow: 0px 4px 15px #666;
}

input[type="submit"] {
font-family:Helvetica;
font-size:12px;
background-color:#aa0000;
padding:2px 5px 2px 5px;
color:#fff;
margin-right:15px;
border:1px solid #600;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0px 2px 4px #666;
-webkit-box-shadow: 0px 2px 4px #666;
box-shadow: 0px 2px 4px #666;
}

input[type="submit"]:hover {
	background-color:#600;
}
